.App {
  text-align: center;
  background-color: #370665;
  min-height: 100vh;
}

/* ABOUT SECTION */

#about {
  padding-top: 50px;
}

/* SKILLS SECTION */

#skills {
}

/* PROJECTS SECTION */

.card-group {
  justify-content: center;
}

.card {
  max-width: 380px;
  padding: 15px;
  margin: 30px;
}

.card-logo {
  padding: 10px;
  margin-bottom: 10px;
}

.card-button {
  width: 160px;
  margin: 10px;
}

/* CONTACT SECTION */

#contact {
}
