.App {
  text-align: center;
  background-color: #35014a;
  min-height: 100vh;
}

/* ALL SECTIONS */

section {
  padding-top: 80px;
}

h1 {
  color: #f7f7f7;
  padding-bottom: 10px;
}

/* ABOUT SECTION */

#about {
  max-width: 800px;
  margin: auto;
  margin: 25px auto;
}

#about-title {
  margin-bottom: 20px;
}

#portrait {
  width: 325px;
  margin-top: 15px;
}

.about-card {
  max-width: 350px;
  margin: 40px auto 0;
}

.about-button {
  width: 90px;
  margin: 5px;
}

.northcoders-logo {
  max-width: 120px;
  margin: 10px;
}

/* SKILLS SECTION */

#skills {
  margin: auto;
  max-width: 1300px;
  padding: 40px 10%;
}

.skill-icon {
  height: 100px;
  margin: 10px auto;
}

/* PROJECTS SECTION */

#projects {
  margin: auto;
  max-width: 1300px;
  padding: 40px 10%;
}

.project-card {
  padding: 15px;
}

.card-logo {
  padding: 10px;
  margin-bottom: 10px;
}

.subtitle {
  margin: 10px auto;
}

.card-button {
  width: 160px;
  margin: 10px;
}

/* CONTACT SECTION */

#contact {
  padding-bottom: 50px;
  max-width: 800px;
  margin: auto;
}

.contact-card-group {
  max-width: 1000px;
  margin: auto;
}

.contact-card {
  margin: auto;
  max-width: 400px;
}

.email-icon {
  height: 90px;
  margin: 15px auto;
}

.whatsapp-icon {
  height: 100px;
  margin: 10px auto;
}
